
.verticalNav{
    z-index: 1000;
    position: fixed;
    height: 90vh;
    overflow: auto;
    width: 13vw;
    margin-top: 0;
    margin-right: 0;
    overflow-x: scroll;
}
.logout{
    text-align: center;
    list-style: none;
    padding: 4px;
    width: 40%;
    height: 5%;
    margin: 40px;
    margin-top: 17%;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}   
.vnav,.overv,.mycom,.anal{
    max-width: 60%;
    height: 5%;
    overflow: hidden;
    list-style: none;
    border-radius: 25px;
    border-width:0 ;
    margin: 5%;
    text-align: center;
    padding: 10px;
}